<!DOCTYPE html>
<html>
<head>
	<title>Caption Generator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<div align="center">
<form action="/result" method="POST">
	<body bgcolor="#ff9100">
		<h1>CAPTION GENERATOR</h1>
		<br>
		<br>
		<br>
		<h3>Please upload the image for the analysis</h3>
		<br>
		<br>
		<br>
		<table>
			<tr>
				<td><input type="file" name="fileToUpload" id="fileToUpload"></td>
				<td><button class="btn waves-effect waves-light" type="submit" name="action">Submit <i class="material-icons right"></i>
  </button></td>
			</tr>
		</table>
	</body>
</form>
</div>
</html>