<!DOCTYPE html>
<html>
<head>
	<title>Caption Generator</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<div align="center">
<form method=post enctype=multipart/form-data>
	<body bgcolor="#cfd8dc" id="body">
		<h1>CAPTION GENERATOR</h1>
		<br>
		<br>
		<br>
		<h3>Please upload the image for the analysis</h3>
		<br>
		<br>
		<br>
		<table>
			<tr>
				<!-- <td><input type="file" name="fileToUpload" id="fileToUpload"></td></div>
				<td><button onclick="showCaption()">Submit</button></td> -->
				<td><input type="file" name="file"></td></div>
				<td><input type="submit" value="Upload"></td>
			</tr>
		</table>
		<br>
		<br>
		<!-- <label>Caption is : </label> -->
		<p id="display"></p>

		<!-- <script type="text/javascript">
		function showCaption() {
		document.getElementById("display").innerHTML = "Caption is generated";
	}
</script> -->
</body>
</form>
</div>
</html>